.container {
	padding: 2rem 10rem;
}
.banner_row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.banner_category {
	flex: 1 1 20%;
}

.banner_thumbnail {
	flex: 1 1 53.5%;
}

.banner_img {
	width: 100%;
	object-fit: cover;
}
.banner_img img {
	/* object-fit: contain; */
	width: 100%;
}

.banner_side_image {
	flex: 1 1 26.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}
.banner_side_image img {
	width: 100%;
	object-fit: cover;
}

.category_items {
	/* display: none; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	border-bottom: 1px solid #f4f4f4;
	padding: 6px 20px;
	gap: 2rem;
	font-size: 1rem;
	text-align: left;
	font-weight: 400;
	cursor: pointer;
	border-radius: 5px;
}
.sub_category_items {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	border-bottom: 1px solid #f4f4f4;
	padding: 6px 20px;
	gap: 2rem;
	font-size: 1rem;
	text-align: left;
	font-weight: 400;
	cursor: pointer;
	border-radius: 5px;
}
.category_items:hover {
	background: #fff2f2;
}
.category_items p {
	text-align: left;
	flex: 1 1 70%;
}
.category_items img {
	flex: 1 1 25%;
}
.category_items span {
	flex: 1 1 5%;
	font-weight: 700;
	color: #736c6c;
}
