.dropdown > ul {
	padding: 0;
	margin: 0;
}
.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	width: 320px;
	background: #ffffff;
	border-bottom: 1px solid #f4f4f4;
	padding: 6px 20px;
	font-size: 1rem;
	text-align: left;
	font-weight: 400;
	cursor: pointer;
	border-radius: 5px;
}
.item:hover,
.submenu_item:hover,
.second_submenu_item:hover {
	background: #fff2f2;
	transition: 0.3s ease-in;
}
.dropdown li {
	list-style: none;
}

.dropdown_title {
	flex: 1 1 70%;
}
.dropdown_icon img {
	flex: 1 1 30%;
	padding-right: 20px;
}
.submenu_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	width: 320px;
	background: #ffffff;
	border-bottom: 1px solid #f4f4f4;
	padding: 6px 20px;
	font-size: 1rem;
	text-align: left;
	font-weight: 400;
	cursor: pointer;
	border-radius: 5px;
}
.second_submenu_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	width: 320px;
	background: #ffffff;
	border-bottom: 1px solid #f4f4f4;
	padding: 6px 20px;
	font-size: 1rem;
	text-align: left;
	font-weight: 400;
	cursor: pointer;
	border-radius: 5px;
}
.sub_menu {
	position: relative;
	display: none;
}

.second_sub_menu {
	position: relative;
	display: none;
}

.sub_menu li {
	position: absolute;
	left: 18.8rem;
	top: -4.3rem;
	width: 300px;
	border-bottom: 1px solid #f4f4f4;
	padding: 6px 20px;
	z-index: 10;
}

.second_sub_menu li {
	position: absolute;
	left: 18.5rem;
	top: -4.3rem;
	width: 300px;
	border-bottom: 1px solid #f4f4f4;
	padding: 6px 20px;
	z-index: 10;
}

.dropdown:hover .sub_menu {
	display: block;
}
.sub_menu:hover .second_sub_menu {
	display: block;
}
