.container {
	padding: 0 10rem;
}

.main {
	min-height: 100vh;
	background: #e3ecf48f;
}

.header {
	background: black;
	color: white;
	height: 252px;
}

@media (max-width: 600px) {
	.container {
		padding: 0;
	}
}
@media (max-width: 900px) {
	.container {
		padding: 2rem;
	}
}

@media (prefers-color-scheme: dark) {
	.card,
	.footer {
		border-color: #222;
	}
	.code {
		background: #111;
	}
	.logo img {
		filter: invert(1);
	}
}
