.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* display: none; */
}
.nav_logo img {
	width: 180px;
	cursor: pointer;
}

.nav_search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	width: 860px;
	height: 60px;
	padding-left: 20px;
	border-radius: 10px;
	cursor: pointer;
}
.nav_search img {
	width: 18px;
	color: #2c2c2c;
	height: 18px;
	cursor: pointer;
}
.nav_search .search_input {
	outline: none;
	border: none;
	width: 70%;
	text-align: left;
	color: #2c2c2c;
	cursor: pointer;
}
.nav_search .submit {
	background: #ef262c;
	color: #ffffff;
	outline: none;
	border: none;
	padding: 22.5px;
	border-radius: 0 10px 10px 0;
	font-weight: 600;
	cursor: pointer;
}

.list_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list_item img {
	width: 38px;
	height: 37px;
	cursor: pointer;
}
.acount_btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.acount_btn img {
	margin-right: 30px;
	width: 26px;
	cursor: pointer;
}
.list_item > * {
	margin-right: 80px;
	cursor: pointer;
}
.list_item > *:last-child {
	margin-right: 0;
}
