.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
}
.nav_logo {
	flex: 1 1 10%;
}
.nav_logo img {
	width: 180px;
	cursor: pointer;
}

.nav_search {
	flex: 1 1 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	padding-left: 20px;
	border-radius: 10px;
	cursor: pointer;
}
.nav_search img {
	width: 18px;
	color: #2c2c2c;
	height: 18px;
	cursor: pointer;
}
.nav_search .search_input {
	outline: none;
	border: none;
	width: 70%;
	text-align: left;
	color: #2c2c2c;
	cursor: pointer;
}
.nav_search .submit {
	background: #ef262c;
	color: #ffffff;
	outline: none;
	border: none;
	padding: 22.5px;
	border-radius: 0 10px 10px 0;
	font-weight: 600;
	cursor: pointer;
}
.nav_account {
	flex: 1 1 20%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.acount_btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.acount_btn img {
	margin-right: 30px;
	width: 26px;
	cursor: pointer;
}

.list_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list_item img {
	width: 38px;
	height: 37px;
	cursor: pointer;
}

.list_item > * {
	margin-right: 80px;
	cursor: pointer;
}
.list_item > *:last-child {
	margin-right: 0;
}

.category_third {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* flex-wrap: wrap; */
}

.category {
	flex: 1 1 20%;

	background: orangered;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 52px;
	width: 295px;
	height: 58px;
	border-radius: 10px 10px 0 0;
}
.category i {
	margin-right: 40px;
	font-size: 20px;
}
.category li {
	list-style: none;
	letter-spacing: 1.5px;
}

.category li span {
	margin-left: 20px;
}
.category_items {
	flex: 1 1 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding: 0 150px;
}

.category_items li {
	list-style: none;
}
.category_items li form select {
	background: none;
	color: #fff;
	border: none;
}
.category_items li form select option {
	color: #fff;
	background: black;
}

.discount {
	flex: 1 1 20%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.discount img {
	width: 31px;
	height: 31px;
}
.discount li {
	list-style: none;
}
.discount li span {
	color: #ffffff;
	font-size: 10px;
	padding-left: 5px;
	margin: 0;
}
.discount li h2 {
	color: #ef262c;
	margin: 0;
}

@media all and (max-width: 600px) {
	.navbar {
		flex-wrap: wrap;
		gap: 0;
	}
	.nav_logo {
		margin: 0 auto;
	}
	.nav_search {
		margin: 0 auto;
		position: relative;
		width: 80%;
	}
	.nav_account {
		display: none;
	}
	.category_third {
		display: none;
	}
}

@media all and (max-width: 900px) {
	.navbar {
		gap: 1rem;
	}
	.nav_account {
		display: none;
	}
	.category_third {
		display: none;
	}
}
