.container {
	padding: 0 10rem;
}
.product_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 1.5rem;
	column-gap: 2rem;
}
.product {
	flex: 1 1 20%;
	background-color: #ffffff;
	padding: 10px 20px;
	font-weight: 400;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
}
